:root {
  --fa-li-margin: 8px;
  --primary-color: #f4f1de;
  --secondary-color: #3d405b;
  --tertiary-color: #e07a5f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  height: 100px;
}

header h1 {
  font-size: 46px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
  color: var(--primary-color);
}

nav {
  width: 850px;
  margin-top: 32px;
  margin-bottom: 23px;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 800px;
  padding-right: 50px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0px;
  height: 40px;
}

li a {
  text-decoration: none;
  font-size: 30px;
  color: var(--primary-color);
}

li a:hover {
  color: var(--secondary-color);
}

nav i {
  margin-left: var(--fa-li-margin);
}

.navActive {
  color: var(--secondary-color);
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
  /* padding: 50px 30px; */
}

main div {
  width: 424px;
  margin: 10px;
  height: 501px;
}

.about-portrait img {
  width: 425px;
}

.about-portrait,
.about-text {
  margin-top: 100px;
}

.about-text {
  color: #f4f1de;
}

.about-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.about-text p {
  font-size: 23px;
  padding: 0px 20px 0 20px;
}

.about-text h2 {
  font-size: 40px;
  padding: 0px 20px 0 20px;
  margin-bottom: 0px;
}

.projects {
  width: 501px;
  height: 217px;
  margin: 0;
  position: relative;
  top: 282px;
  background-color: var(--secondary-color);
}

.projects h2 {
  color: var(--primary-color);
  text-align: inherit;
  font-size: 28px;
  padding-top: 10px;
  margin-bottom: 0;
}

.projects p {
  color: var(--primary-color);
  font-size: 18px;
  margin: 10px 0 10px;
}

.projects i {
  color: var(--primary-color);
  margin: var(--fa-li-margin);
}

.projects i:hover {
  color: var(--tertiary-color);
  margin: var(--fa-li-margin);
}

.project-head {
  width: 501px;
  height: 570px;
}

.project-1 {
  background-image: url('./assets/images/project-images/family_fit.png');
  background-size: cover;
  width: 480px;
  height: 276px;
}
.project-2 {
  background-image: url('./assets/images/project-images/motar.jpg');
  background-size: cover;
  width: 480px;
  height: 276px;
}
.project-3 {
  background-image: url('./assets/images/project-images/social-media.jpeg');
  background-size: cover;
  width: 480px;
  height: 276px;
}
.project-4 {
  background-image: url('./assets/images/project-images/Tech_Blog.png');
  background-size: cover;
  width: 480px;
  height: 276px;
}
.project-5 {
  background-image: url('./assets/images/project-images/employee-tracker.png');
  background-size: cover;
  width: 480px;
  height: 276px;
}
.project-6 {
  background-image: url('./assets/images/project-images/weatherdashboard.png');
  background-size: cover;
  width: 480px;
  height: 276px;
}

/* .modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
} */

form {
  width: 500px;
  height: 600px;
}

.contact-me {
  display: flex;
  flex-flow: column;
  margin: 20px;
}

.contact-me div {
  margin: 20px;
  height: 0;
  width: 200px;
  margin-bottom: 70px;
}

.contact-me h2 {
  color: var(--primary-color);
  font-size: 50px;
  text-align: center;
  margin: -1px;
}

.contact-me label {
  color: var(--primary-color);
  font-size: 36px;
}

.contact-me input {
  width: 450px;
  height: 40px;
  font-size: 26px;
}

.contact-me textarea {
  width: 450px;
  height: 150px;
  resize: none;
  font-size: 20px;
}

.contact-me button {
  height: 40px;
  width: 120px;
  font-size: 19px;
  font-weight: bold;
  color: var(--tertiary-color);
  margin-top: 10px;
  background-color: var(--secondary-color);
}

.error-text {
  color: var(--primary-color);
  font-size: 36px;
  width: 400px;
  text-align: center;
  margin: 0;
}

.resume {
  width: 500px;
  height: 650px;
  background-color: var(--secondary-color);
}

.resume h2 {
  color: var(--primary-color);
  font-size: 36px;
}

.resume a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.resume a:hover {
  color: var(--primary-color);
}

.resume li {
  color: var(--primary-color);
  font-size: 26px;
}

.footer {
  background-color: var(--tertiary-color);
  height: 65px;
  position: absolute;
  bottom: -4px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.portfolio-footer {
  background-color: var(--tertiary-color);
  height: 65px;
  position: relative;
  bottom: -4px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

footer a:hover {
  color: var(--primary-color);
}

footer i {
  margin: var(--fa-li-margin);
}

@media screen and (max-width: 1024px) {
  header {
    height: 75px;
  }

  header h1 {
    font-size: 30px;
  }

  nav {
    width: 600px;
  }

  .nav-bar {
    width: 550px;
  }

  li a {
    font-size: 26px;
  }

  li a:hover {
    color: var(--secondary-color);
  }

  nav i {
    margin-left: var(--fa-li-margin);
  }

  .about-text h2 {
    font-size: 36px;
  }

  .project-head {
    width: 340px;
    height: 470px;
  }

  .projects {
    width: 340px;
    height: 210px;
    top: 110px;
  }

  .projects h2 {
    font-size: 26px;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    width: 320px;
    height: 120px;
  }
  .contact-me h2,
  .resume h2 {
    font-size: 30px;
  }

  .contact-me label {
    font-size: 26px;
  }

  .resume li {
    font-size: 20px;
  }

  .error-text {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 65px;
  }

  header h1 {
    font-size: 26px;
    padding-left: 25px;
  }

  nav {
    width: 600px;
  }

  .nav-bar {
    width: 450px;
    padding-right: 25px;
  }

  li a {
    font-size: 20px;
  }

  li a:hover {
    color: var(--secondary-color);
  }

  nav i {
    margin-left: var(--fa-li-margin);
  }

  .about-portrait img {
    width: 300px;
  }

  .about-text h2 {
    font-size: 26px;
  }
  .about-text p {
    font-size: 18px;
  }

  .project-head {
    width: 420px;
    height: 480px;
  }

  .projects {
    width: 400px;
    height: 220px;
    top: 170px;
  }

  .projects h2 {
    font-size: 26px;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    width: 400px;
    height: 220px;
  }
  .contact-me h2,
  .resume h2 {
    font-size: 26px;
  }

  .contact-me label {
    font-size: 26px;
  }

  .resume li {
    font-size: 20px;
  }

  .error-text {
    font-size: 30px;
  }

  main div {
    width: 300px;
    margin: 10px;
    height: 501px;
  }
}

@media screen and (max-width: 465px) {
  header {
    height: 65px;
  }

  header h1 {
    font-size: 20px;
    padding-left: 25px;
  }

  nav {
    width: 300px;
    margin: 10px 0 10px;
  }

  .nav-bar {
    width: 160px;
    padding-right: 25px;
  }

  li a {
    font-size: 16px;
  }

  li a:hover {
    color: var(--secondary-color);
  }

  nav i {
    margin-left: var(--fa-li-margin);
  }

  div .about-text {
    height: 182px;
  }

  .about-portrait img {
    height: 260px;
    width: 290px;
  }

  .about-text h2 {
    font-size: 16px;
  }
  .about-text p {
    font-size: 12px;
  }

  .project-head {
    width: 420px;
    height: 400px;
  }

  .projects {
    width: 340px;
    height: 220px;
    top: 170px;
  }

  .projects h2 {
    font-size: 20px;
  }

  .projects p {
    font-size: 14px;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    width: 340px;
    height: 180px;
  }
  .contact-me h2,
  .resume h2 {
    font-size: 26px;
  }

  .contact-me label {
    font-size: 26px;
  }

  .resume li {
    font-size: 20px;
  }

  .error-text {
    font-size: 30px;
  }

  main div {
    width: 300px;
    margin: 10px;
    height: 240px;
  }

  footer a {
    font-size: 12px;
  }

  .footer,
  .portfolio-footer {
    height: 50px;
  }

  .contact-me h2,
  .resume h2 {
    font-size: 26px;
  }

  .contact-me label {
    font-size: 16px;
  }

  .contact-me input {
    width: 300px;
    height: 25px;
    font-size: 16px;
  }

  .contact-me textarea {
    width: 300px;
    height: 80px;
  }

  .contact-me div {
    margin-bottom: 36px;
    margin-top: 24px;
  }

  form {
    height: 480px;
  }

  .resume li {
    font-size: 14px;
  }

  .resume {
    height: 500px;
  }

  .error-text {
    font-size: 20px;
    width: 260px;
  }

  .about-portrait,
  .about-text {
    margin-top: 20px;
  }
}
