:root {
  --fa-li-margin: 8px;
  --primary-color: #f4f1de;
  --secondary-color: #3d405b;
  --tertiary-color: #e07a5f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  height: 60px;
}
header a {
  text-decoration: none;
}
header h1 {
  font-size: 22px;
  width: auto;
  padding-left: 15px;
  color: var(--primary-color);
}

nav {
  width: auto;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 480px;
  padding-right: 15px;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 0px;
  height: 40px;
}

li a {
  text-decoration: none;
  font-size: 22px;
  color: var(--primary-color);
}

li a:hover {
  color: var(--secondary-color);
}

nav i {
  margin-left: var(--fa-li-margin);
}

.navActive {
  color: var(--secondary-color);
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
  /* padding: 50px 30px; */
}

main div {
  width: 424px;
  margin: 10px;
  height: 501px;
}

.about-portrait img {
  width: 425px;
}

.about-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: auto;
}

.about-text p {
  font-size: 20px;
  padding: 0px 20px 0 20px;
  text-align: justify;
  color: var(--primary-color);
}

.about-text h2 {
  font-size: 28px;
  padding: 0px 20px 0 20px;
  margin: 0px;
  color: var(--primary-color);
}

.projects {
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 240px;
  background-color: var(--secondary-color);
}

.projects h2 {
  color: var(--primary-color);
  text-align: inherit;
  font-size: 22px;
  padding-top: 10px;
  margin: 0;
}

.projects p {
  color: var(--primary-color);
  font-size: 14px;
  margin: 10px 0 10px;
  text-align: justify;
}

.projects i {
  color: var(--primary-color);
  margin: var(--fa-li-margin);
}

.projects i:hover {
  color: var(--tertiary-color);
  margin: var(--fa-li-margin);
}

.project-head {
  width: auto;
  border: solid;
  color: var(--primary-color);
}

.project-1 {
  background-image: url('./assets/images/project-images/family_fit.png');
  background-size: cover;
  width: 480px;
  height: 276px;
  margin: 10px;
}
.project-2 {
  background-image: url('./assets/images/project-images/motar.jpg');
  background-size: cover;
  width: 480px;
  height: 276px;
  margin: 10px;
}
.project-3 {
  background-image: url('./assets/images/project-images/professional-readme.png');
  background-size: cover;
  width: 480px;
  height: 276px;
  margin: 10px;
}
.project-4 {
  background-image: url('./assets/images/project-images/searchedbooks.png');
  background-size: cover;
  width: 480px;
  height: 276px;
  margin: 10px;
}
.project-5 {
  background-image: url('./assets/images/project-images/employee-tracker.png');
  background-size: cover;
  width: 480px;
  height: 276px;
  margin: 10px;
}
.project-6 {
  background-image: url('./assets/images/project-images/weatherdashboard.png');
  background-size: cover;
  width: 480px;
  height: 276px;
  margin: 10px;
}

/* .modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
} */

form {
  width: 500px;
  height: 600px;
}

.contact-me {
  display: flex;
  flex-flow: column;
  margin: 20px;
}

.contact-me div {
  margin: 20px;
  height: 0;
  width: 200px;
  margin-bottom: 70px;
}

.contact-me h2 {
  color: var(--primary-color);
  font-size: 28px;
  text-align: center;
  margin: -1px;
}

.contact-me label {
  color: var(--primary-color);
  font-size: 26px;
}

.contact-me input {
  width: 450px;
  height: 40px;
  font-size: 26px;
}

.contact-me textarea {
  width: 450px;
  height: 150px;
  resize: none;
  font-size: 20px;
}

.contact-me button {
  height: 40px;
  width: 120px;
  font-size: 19px;
  font-weight: bold;
  color: var(--tertiary-color);
  margin-top: 10px;
  background-color: var(--secondary-color);
}

.error-text {
  color: var(--primary-color);
  font-size: 26px;
  width: 400px;
  text-align: center;
  margin: 0;
}

.email {
  width: max-content;
}

.email a {
  color: var(--tertiary-color);
  text-decoration: none;
  /* width: auto; */
  font-size: 20px;
}

.resume {
  width: 320px;
  height: 680px;
  background-color: var(--secondary-color);
}

.resume h2 {
  color: var(--primary-color);
  font-size: 26px;
}

.resume a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.resume a:hover {
  color: var(--primary-color);
}

.resume li {
  color: var(--primary-color);
  font-size: 26px;
}

.footer,
.portfolio-footer {
  background-color: var(--tertiary-color);
  height: 46px;
  position: fixed;
  bottom: -6px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

footer a:hover {
  color: var(--primary-color);
}

footer i {
  margin: var(--fa-li-margin);
}

@media screen and (max-width: 980px) {
  header {
    height: 55px;
  }

  header h1 {
    font-size: 28px;
    margin: 8px 0 8px 0;
    padding-left: 15px;
  }

  nav {
    margin: 12px 0 12px 0;
  }

  .nav-bar {
    width: 430px;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  nav li a {
    font-size: 20px;
  }

  li a:hover {
    color: var(--secondary-color);
  }

  nav i {
    margin-left: var(--fa-li-margin);
  }

  .about-text h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
  }

  .about-text {
    margin-top: 10px;
    height: 330px;
  }

  .about-text p {
    font-size: 16px;
    padding: 0;
    margin: 10px 0 10px 0;
  }

  .about-portrait {
    width: 422px;
    margin-top: 10px;
    height: 400px;
  }

  .about-portrait img {
    height: 400px;
  }

  .project-head {
    width: auto;
    height: 360px;
  }

  .projects {
    width: 320px;
    height: 210px;
    top: 110px;
  }

  .projects p {
    font-size: 12px;
    margin: 5px 0 5px 0;
  }

  .projects h2 {
    font-size: 18px;
    margin: 0;
  }

  .projects i {
    font-size: 22px;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    width: 320px;
    height: 120px;
    margin-bottom: 0;
  }

  .contact-me h2,
  .resume h2 {
    font-size: 30px;
  }

  .contact-me label {
    font-size: 26px;
  }

  .resume {
    width: 360px;
    height: 535px;
  }

  .resume li {
    font-size: 20px;
  }

  .error-text {
    font-size: 30px;
  }

  .footer {
    font-size: 10px;
    height: 48px;
    position: fixed;
    bottom: -6px;
  }

  .portfolio-footer {
    font-size: 10px;
    height: 48px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
  }

  header h1 {
    font-size: 26px;
    padding-left: 25px;
    width: max-content;
    margin: 10px 0 10px 0;
  }

  nav {
    width: max-content;
    margin: 20px 0 10px 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  nav li a {
    margin: 0 5px 0 5px;
    font-size: 16px;
  }

  .nav-bar {
    width: auto;
    height: 20px;
    margin-top: -4px;
  }
  a li a {
    font-size: 16px;
  }

  li a:hover {
    color: var(--secondary-color);
  }

  nav i {
    margin-left: var(--fa-li-margin);
  }

  .about-text {
    height: auto;
  }

  .about-portrait,
  .about-text {
    margin-top: 10px;
  }

  .about-portrait img {
    width: 300px;
    height: 360px;
  }

  .about-portrait {
    height: 370px;
    width: 300px;
  }

  .about-text h2 {
    font-size: 22px;
    margin-top: 0px;
  }
  .about-text p {
    font-size: 15px;
  }

  .project-head {
    width: max-content;
    height: 375px;
    border: solid;
    color: var(--primary-color);
  }

  .projects {
    width: 400px;
    height: max-content;
    top: 170px;
  }

  .projects h2 {
    font-size: 18px;
    margin: 0;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    width: 400px;
    height: 170px;
  }

  .projects p {
    margin: 5px 0 5px;
    font-size: 12px;
  }

  .projects i {
    font-size: 22px;
  }

  .contact-me h2 {
    font-size: 26px;
  }

  .resume h2 {
    font-size: 20px;
  }

  .resume {
    width: 260px;
    height: 460px;
  }

  .contact-me label {
    font-size: 20px;
  }

  .contact-me input {
    font-size: 20px;
    height: 30px;
  }

  .contact-me div {
    margin-bottom: 50px;
  }

  .resume li {
    font-size: 16px;
  }

  form {
    height: 560px;
  }

  .footer,
  .portfolio-footer {
    font-size: 10px;
    height: 45px;
    bottom: -6px;
  }

  .error-text {
    font-size: 30px;
  }

  main div {
    width: 300px;
    margin: 10px;
    height: 840px;
  }

  main {
    padding: 10px;
  }
}

@media screen and (max-width: 575px) {
  header {
    height: auto;
    justify-content: space-between;
  }

  main {
    height: 776px;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  header h1 {
    font-size: 16px;
    padding-left: 10px;
    width: max-content;
  }

  nav {
    width: 350px;
    padding-top: 13px;
    margin: 0;
    height: 20px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  .nav-bar {
    width: 240px;
    padding: 0px 10px 0 0;
    height: 20px;
  }

  nav li a {
    font-size: 10px;
  }

  li a:hover {
    color: var(--secondary-color);
  }

  nav i {
    margin-left: var(--fa-li-margin);
  }

  div .about-text {
    height: 252px;
    width: 290px;
    position: relative;
    bottom: 100px;
    margin-top: 10px;
  }

  .about-portrait img {
    height: 260px;
    width: 290px;
  }
  div.about-portrait {
    height: 260px;
    width: 290px;
    margin-top: 10px;
  }

  .about-text h2 {
    font-size: 16px;
  }
  .about-text p {
    font-size: 12px;
    padding: 0px;
  }

  .project-head {
    width: auto;
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
    height: 350px;
  }

  .projects {
    width: 340px;
    height: auto;
    top: 170px;
  }

  .projects h2 {
    font-size: 16px;
    margin: 0;
  }

  .projects p {
    font-size: 10px;
    margin: 5px 0 5px;
  }

  .projects i {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    width: 340px;
    height: 180px;
  }

  div .project-1,
  div .project-2,
  div .project-3,
  div .project-4,
  div .project-5,
  div .project-6 {
    margin: 0px;
  }

  .contact-me h2,
  .resume h2 {
    font-size: 26px;
  }

  .contact-me label {
    font-size: 26px;
  }

  .resume li {
    font-size: 20px;
  }

  .error-text {
    font-size: 30px;
  }

  main div {
    width: 300px;
    margin: 10px;
    height: 240px;
  }

  footer a {
    font-size: 8px;
  }

  .footer {
    height: 40px;
    position: fixed;
  }

  .portfolio-footer {
    height: 40px;
    position: fixed;
  }

  .contact-me {
    margin: 8px;
  }
  .contact-me h2,
  .resume h2 {
    font-size: 22px;
  }

  .contact-me label {
    font-size: 16px;
  }

  .contact-me input {
    width: 245px;
    height: 25px;
    font-size: 16px;
  }

  .contact-me textarea {
    width: auto;
    height: 80px;
  }

  .contact-me div {
    margin-bottom: 36px;
    margin-top: 24px;
  }

  form {
    height: 480px;
    width: 340px;
  }

  .resume li {
    font-size: 14px;
  }

  .resume {
    height: 500px;
    width: 300px;
  }

  .error-text {
    font-size: 20px;
    width: 260px;
  }

  .about-portrait,
  .about-text {
    margin-top: 20px;
  }
}
